<form class="navbar-form" role="search">
    <div class="input-group" id="search">
        <input type="text" class="form-control" value="{{ search }}" placeholder="{{ text_search }}">
        <span class="input-group-btn">
        <button type="submit" class="search-btn"> <span class="glyphicon glyphicon-search"> <span class="sr-only">Search</span> </span>
        </button>
        </span>
    </div>
</form>